#rm-interactive-map {
  width: 100vw;
  background: darkseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.rm-map {
  /* height: 100%; */
  /* width: 100%; */
  position: relative;
  /* background-position: center; */
  /* background-image: url(images/map1.svg); */
  /* background-repeat: no-repeat; */
  background: bisque;
}

.outer-map {
  height: 500px;
}

.rm-boroughs img {
  transition: 2s;
}

/*================================
=========== boroughs =============
=================================*/
#rm-map-barking-dagenham {
  bottom: 73.1%;
  position: absolute;
  right: 24.4%;
  transform: translate(50%, 50%);
  width: 15%;
  z-index: 513;
}

#rm-map-barnet {
  bottom: 87.1%;
  position: absolute;
  right: 65.8%;
  Z-index: 551;
  width: 21%;
  }

#rm-map-bexley {
  bottom: 50.3%;
      position: absolute;
      right: 21.8%;
      transform: translate(50%, 50%);
      z-index: 513;
      width: 16.7%;
}

#rm-map-brent {
bottom: 72.4%;
      position: absolute;
      right: 70.8%;
      transform: translate(50%, 50%);
      z-index: 513;
      width: 17.1%;
}

#rm-map-bromley {
      bottom: 29.9%;
      position: absolute;
      right: 34.13%;
      transform: translate(50%, 50%);
      z-index: 513;
      width: 29.1%;
  }


#rm-map-camden {
  bottom: 66.8%;
      position: absolute;
      right: 58.5%;
      transform: translate(50%, 50%);
      z-index: 513;
      width: 13.1%;
}

#rm-map-city {
bottom: 57.5%;
      position: absolute;
      right: 50.4%;
      transform: translate(50%, 50%);
      z-index: 513;
      width: 5.3%;
}

#rm-map-croydon {
  bottom: 25.3%;
  position: absolute;
  right: 48%;
  transform: translate(50%, 50%);
  z-index: 513;
  width: 19.85%;
}

#rm-map-ealing {
  bottom: 58.1%;
  position: absolute;
  right: 78.9%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-enfield {
      bottom: 94.7%;
  position: absolute;
  right: 51.7%;
  transform: translate(50%, 50%);
  z-index: 513;
  width: 21.1%;
}

#rm-map-greenwich {
  bottom: 50.9%;
      position: absolute;
      right: 33.4%;
      transform: translate(50%, 50%);
      width: 18.2%;
      z-index: 513;
  }


#rm-map-hackney {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-hammersmith-fullham {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-haringey {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-harrow {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-havering {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-hillingdon {
  bottom: 61.9%;
  position: absolute;
  right: 92.0%;
  transform: translate(50%, 50%);
  width: 16%;
  z-index: 513;
}

#rm-map-hounslow {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-islington {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-kensington-chelsea {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-kingston {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-lamberth {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-lewisham {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-newham {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-redbridge {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-richmond {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-southwark {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-sutton {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-tower-hamlets {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-waltham-forest {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-wandsworth {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}

#rm-map-westminster {
  bottom: 61.9%;
  height: 43.6%;
  position: absolute;
  right: 92%;
  transform: translate(50%, 50%);
  z-index: 513;
}
